@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-inter {
    font-family: Inter;
  }
  .font-inter-medium {
    font-family: Inter;
    font-weight: 500;
  }
  .font-inter-semibold {
    font-family: InterSemiBold;
  }
  .font-inter-bold {
    font-family: InterBold;
  }
  .font-mono-medium {
    font-family: JetBrainsMono;
  }
  .font-mono-bold {
    font-family: JetBrainsMonoBold;
  }
}
